*{
    margin: 0;
}

header {
    display: flex;
    background-color: #FFFFFF;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7%;
}


.logo{
    width: clamp(60px, 8vw, 80px);
}
.logo img{
       width: clamp(80px, 8vw, 90px);
       height: auto;
}

.nav-bar ul{
    display: flex;
    gap: 18px;
    list-style: none;
}
ul a{
    text-decoration: none;
    color: #575757;
}
ul a:hover{
    color: #0D1B2A;
}

.button-register .common-button{
    font-size: 12px;
    color: #FFFFFF;
    padding: 8px 30px;
    border-radius: 10px;
    border-style: none;
    background-color: #1D4ED8;
}
 .common-button:hover{
    background-color: #4974eb;
    cursor: pointer;
}


/* header-end */
/* header-end */
/* header-end */
/* header-end */
/* header-end */




/* hero-section-start */
/* hero-section-start */
/* hero-section-start */
/* hero-section-start */
/* hero-section-start */


.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("./image/banner.jpg");
        height: 100vh;
         background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.hero-section{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}
.hero-section h1{
    font-size: clamp(1.4rem, 6vw, 4rem);
}
.hero-section h1 span{
    font-style: italic;
}
.hero-section p{
    width: 90%;
    max-width: 700px;
     margin:20px auto;
    color: #717070;
    text-align: center;
    font-size: clamp(0.4rem, 5vw, 1.2rem);
}
.hero-section button.common-button {
    margin-top: 18%;
    padding: 15px 25px;
    border-radius: 10px;
    width: 15%;
    color: #FFFFFF;
    background-color: #1D4ED8;
    border-style: none;
}
.hero-section button:hover{
    background-color: #4974eb;
    cursor: pointer;
}


/* hero-section-end */
/* hero-section-end */
/* hero-section-end */
/* hero-section-end */


/* grid-start */
/* grid-start */
/* grid-start */
/* grid-start */

.sub-title h1{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px 30px;
    align-items: center;
    justify-content: center;
    padding: 0px 100px 100px 100px;
    
}

.card-container .card{
    border-radius: 15px;
     overflow:hidden;
    background-color: #ececec;
}
.card-container .card img{
    width: 100%;
    /* border-radius: 10px; */
}
.card .p-1{
    color: #1D4ED8;
    font-weight: 500;
}

.card h2,p{
    padding: 4px 12px;
}
.card .p-2{
   padding: 5px 0px 20px 12px;
}

/* grid-end */
/* grid-end */
/* grid-end */
/* grid-end */


/* spot-card-start */
/* spot-card-start */
/* spot-card-start */
/* spot-card-start */


.spot h1{
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3rem);
}
.spot p{
    text-align: center;
    font-size: clamp(0.5rem, 4vw, 1rem);
    color: #6d6c6c;
    padding: 5px 10px 20px 10px;
}

/* spot-title-end */


.spot-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px 15px;
    height: 470px;
    padding: 40px 20%;
    
}
.spots-card{
    display: grid;
    background-color: #f6f2f2;
    border-radius: 15px;
    padding: 20px 25px;
     border: 1px solid rgb(204, 201, 201);
     transition: 1s ease;
}
.spots-card:hover{
    background-color: #e9e5f6;
    transform: scale(1.05);
    filter: opacity(90%);
}

.spots-card h1, .spots-card-2 h1 {
    margin: 0px;
}
.spots-card-2{
    display: grid;
    background-color: #0D1B2A;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 18px 25px;
     border: 1px solid #062f5a;
     transition: 1s ease;
}
.spots-card-2:hover{
    background-color: #052240;
    transform: scale(1.1);
    filter: opacity(90%);
}

/* spots-cards-grid-end */


.spots-card-2 ul,.spots-card ul{
    padding: 20px 20px;
}


.spots-card-2 .p-2 {
    padding: 0px 0px;
    color: #114cee;
}
.spots-card .p-1 {
    padding: 0px 0px;
    color: #bbbaba;
}
.spots-card .p-3 {
    padding: 0px 0px;
    color: #bbbaba;
}

/* spots-card-p-end */


.spots-card hr, .spots-card-2 hr{
    margin-top: 10px;
    border: none;
    height: 1px;
    background-color: #d6d6d6;
}

/* spots-card-hr-end */



.spots-card-2 button{
     width: 80%;
    margin:auto auto 0px auto;
    padding:10px;
    border:none;
    border-radius:10px;
    background:#e7ecf6;
    color:rgb(21, 10, 238);
    transition: 1s;
    
}
.spots-card-2 button:hover{
    cursor: pointer;
    background-color: #cbd6f4;
}

.spots-card button{
    width:80%;
    margin: auto auto 0 auto;
    padding:10px;
    border:none;
    border-radius:10px;
    background:#2563EB;
    color:white;
    transition: 1s;
}
.spots-card button:hover{
    cursor: pointer;
    background-color: #698ff5;
}

/* spot-card-end */
/* spot-card-end */
/* spot-card-end */
/* spot-card-end */


/* AI-section-started */
/* AI-section-started */
/* AI-section-started */
/* AI-section-started */


.bg-color{
    
     background:linear-gradient(to top, #707171, white );
}


.AI-helped{
    
    width: 100%;
    height: 100px;
    margin-top: 30px;
}

.AI-helped h1{
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3rem);
    padding: 10px 0px 0px 0px;
}
.AI-helped p{
     text-align: center;
     font-size: clamp(0.6rem, 3vw, 1rem);  
}

/* title-end-here */
/* title-end-here */
/* title-end-here */



.schedule-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 100px;
    align-items: center;
    justify-items: center;
    width: auto;
    gap: 20px;
    color: rgb(8, 8, 8);
   

}

.day-time{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 80%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 30px;
    
    
}
.day-time:hover{
    background-color: #c4c9ce;
}
.day-time h1{
    font-size: clamp(1rem, 4vw, 2.5vw);
}
.day-time p{
    font-size: clamp(0.5rem, 3vw, 1rem);
}

/* end */
/* end */

/* box-container */
/* box-container */
/* box-container */

.box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     align-items: center;
    justify-items: center;
    padding: 20px 100px;
    width: auto;
    gap: 10px;
    color: rgb(0, 0, 0);
    margin-top: 0%;
}



.schedule-container-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc;
    border-radius: 12px;
    padding: 0px 0px;
    
}

.schedule-container-box:hover{
    background-color: #d0d1d2;
}



/* footer */
/* footer */
/* footer */

.footer{
    display: flex;
    background-color: #505050;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    gap: 50%;
    /* padding: 8px 4px; */
}
.left img{
    width: 70px;
    height: auto;
}
.right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.right a{
    text-decoration: none;
    color: #6f6e6e;
    transition: color 0.3s ease;
}
.right a:hover{
    color: #0077ff;
}
footer hr{
    border: 1px solid #656464;
}
.copy-right p{
    text-align: center;
    background-color: #343333;
    color: #6a6969;
}